[Desktop Entry]
Name=App Store
Comment=Browse and install apps from Flathub
Exec=gnome-software --mode=overview
TryExec=gnome-software
Icon=org.gnome.Software
Type=Application
Categories=System;PackageManager;
Keywords=store;apps;install;flatpak;
